@layout('user.layout')

@section('content')
	<div class='container'>
		<a href="/user/dashboard">
			Successfully purchased license key! Check your email for more information!
		</a>
	</div>
@endsection

@section('css')
	@super
@endsection